.education-section {
  padding: 4rem 2rem;
  background: linear-gradient(to left, #d0d1d396, #ffffff); 
  
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-family: 'Abril Fatface', serif;
  color: #5b5a5a;
}

.education-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.edu-card {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.edu-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.card-title {
  margin-top: 0;
  font-size: 18px;
  color: #525252;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.edu-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.edu-card li {
  margin-bottom: 14px;
  line-height: 1.4;
}

.period {
  font-size: 14px;
  color: #6e6c6c;
}

p{
    font-size: 14px;
}


